/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Definindo variáveis de cores e fontes */
:root {
    --cor-primaria: #f3f3f3;
    --cor-secundaria: #000000;
    --cor-terciaria: #22D4FD;
    --cor-hover: #93eafd;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* Estilo padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do corpo da página */
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Estilo do conteúdo principal */
main {
    margin-bottom: 50px;
}

/* Estilo do cabeçalho */
.cabecalho {
    padding: 1% 0% 2% 15%;
}

/* Estilo do menu de navegação */
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

/* Estilo dos links do menu de navegação */
.cabecalho__menu a {
    transition: color 0.3s ease, transform 0.3s ease;
}

.cabecalho__menu a:hover {
    color: var(--cor-hover);
    transform: scale(1.1);
}

.cabecalho__menu a:active {
    transform: scale(0.9);
}

/* Estilo dos links do menu de navegação ao passar o mouse */
.cabecalho__menu:hover {
    color: var(--cor-hover);
}

/* Estilo dos links do menu de navegação */
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

/* Estilo da seção de apresentação */
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

/* Estilo do conteúdo da apresentação */
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Estilo do título da apresentação */
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

/* Estilo do destaque no título da apresentação */
.titulo-destaque {
    color: var(--cor-terciaria);
}

/* Estilo do texto da apresentação */
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

/* Estilo dos links na apresentação */
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

/* Estilo do subtítulo dos links */
.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

/* Estilo dos links de navegação */
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

/* Estilo da imagem na apresentação */
.apresentacao__imagem {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.apresentacao__imagem:hover {
    transform: scale(1.05);
}

/* Estilo das seções de trabalho e educação */
.trabalho,
.educacao {
    margin-bottom: 50px;
    padding-top: 20px;
}

/* Estilo das caixas de experiência, tecnologias, faculdade e cursos */
.trabalho__experiencia,
.trabalho__tecnologias,
.educacao__faculdade,
.educacao__cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo dos títulos das seções de experiência, tecnologias, faculdade e cursos */
.trabalho__experiencia__titulo,
.trabalho__tecnologias__titulo,
.educacao__faculdade__titulo,
.educacao__cursos__titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
    font-family: var(--fonte-secundaria);
}

/* Estilo das caixas de experiência, tecnologias, faculdade e cursos */
.trabalho__experiencia__caixas,
.trabalho__tecnologias__caixas,
.educacao__faculdade__caixas,
.educacao__cursos__caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    font-family: var(--fonte-secundaria);
    flex-grow: 0;
}

/* Estilo dos ícones das caixas de faculdade e cursos */
.educacao__faculdade__caixa__icone,
.educacao__cursos__caixa__icone {
    width: 50px;
    height: 50px;
}

/* Estilo das caixas de experiência, tecnologias, faculdade e cursos */
.trabalho__experiencia__caixa,
.trabalho__tecnologias__caixa,
.educacao__faculdade__caixa,
.educacao__cursos__caixa {
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Estilo das caixas de experiência, tecnologias, faculdade e cursos ao passar o mouse */
.trabalho__experiencia__caixa:hover,
.trabalho__tecnologias__caixa:hover,
.educacao__faculdade__caixa:hover,
.educacao__cursos__caixa:hover {
    transform: translateY(-5px);
}

/* Estilo do texto dentro das caixas de experiência */
.trabalho__experiencia__caixa__funcao {
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

/* Estilo do rodapé */
.rodape {
    position: fixed; /* Posição fixa para manter o rodapé no fundo da página */
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Estilo do botão de download */
.botao-download {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* Estilo do botão de download ao passar o mouse */
.botao-download:hover {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    transform: scale(1.05);
}

/* Media query para telas com largura máxima de 1200px */
@media (max-width: 1200px) {
    /* Estilo do cabeçalho em telas menores */
    .cabecalho {
        padding: 10%;
    }
    /* Centralização dos itens do menu de navegação */
    .cabecalho__menu {
        justify-content: center;
    }
    /* Estilo das seções de trabalho e educação em telas menores */
    .trabalho__experiencia,
    .trabalho__tecnologias,
    .educacao__faculdade,
    .educacao__cursos {
        flex-direction: column;
    }
    /* Ajuste da largura das caixas de experiência, tecnologias, faculdade e cursos em telas menores */
    .trabalho__experiencia__caixa,
    .trabalho__tecnologias__caixa,
    .educacao__faculdade__caixa,
    .educacao__cursos__caixa {
        width: auto;
    }
}
